<ion-card *ngIf="order" class="welcome-card">
  <ion-button class="button-end" color="primary" (click)="goToDetails(order)">
    <ion-icon name="create"></ion-icon>
  </ion-button>
  <img-loader useImg src="{{order.image}}" (click)="viewImage(order.image)"></img-loader>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>{{order.circle}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list lines="none">
      <ion-item>
        <ion-label slot="start">Hall</ion-label>
        <ion-label text-wrap>{{order.hall}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label slot="start">Booth</ion-label>
        <ion-label text-wrap>{{order.booth}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label slot="start">Circle</ion-label>
        <ion-label text-wrap>{{order.circle}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label slot="start">What</ion-label>
        <ion-label text-wrap>{{order.what}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label slot="start">Website</ion-label>
        <ion-label text-wrap><a [href]="order.website">Link</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-label slot="start">For</ion-label>
        <ion-label text-wrap>{{order.for}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label slot="start">Note</ion-label>
        <ion-label text-wrap>{{order.note}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label slot="start">Price expected</ion-label>
        <ion-label text-wrap>{{order.priceExpected}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label slot="start">Priority</ion-label>
        <ion-label text-wrap>{{order.priority}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>