<ion-header>
  <ion-toolbar>
    <ion-title>
      Task Force Comiket Current
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="current">
    <app-item [order]="current" (onGoToDetails)="goToDetails(current)"></app-item>
  </div>
  <div *ngIf="!current" class="ion-text-center">{{error}}</div>
</ion-content>
<ion-fab-button *ngIf="current" color="success" class="button-end" (click)="showDoneButtons()">
  <ion-icon name="done-all"></ion-icon>
</ion-fab-button>