.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.buttons {
  margin-left: auto;
  margin-right: auto;
  display: block;
  ion-button{
    font-size: 10px;
  }
}

.button-end {
  position: absolute;
  right: 20px;
  bottom: 20px;
}