<ion-header>
    <ion-toolbar>
      <ion-title>Configuration</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <div *ngFor="let conf of config">
    <ion-item>{{conf.type}}: {{conf.date | date:'yyyy/MM/dd'}}</ion-item>
  </div>
</ion-content>
