<ion-header>
  <ion-toolbar>
    <ion-title>
      Next
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item>
    <ion-label>Choose a sheet</ion-label>
    <ion-select [(ngModel)]="sheetToUse" placeholder="Select One" (ionChange)="onChange($event)">
      <ion-select-option text-wrap *ngFor="let sheet of sheets" value="{{sheet}}">{{sheet}}</ion-select-option>
    </ion-select>
  </ion-item>
  <app-day [typeWanted]="'currents'"></app-day>
</ion-content>