<ion-item>
  <ion-button (click)="displayAlertDone('done')" color="success">
    <label>OK</label>
  </ion-button>
</ion-item>
<ion-item>
  <ion-button (click)="displayAlertDone('missing')" color="warning">
    <label>Missing</label>
  </ion-button>
</ion-item>
<ion-item>
  <ion-button full (click)="displayAlertDone('kanbai')" color="danger">
    <label>Kanbai</label>
  </ion-button>
</ion-item>
<ion-item>
  <ion-button (click)="displayAlertDone('cancelled')" color="danger">
    <label>Cancelled</label>
  </ion-button>
</ion-item>
<ion-item>
  <ion-button (click)="displayAlertDone('postponed')" color="danger">
    <label>Postponed</label>
  </ion-button>
</ion-item>