<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()"> <ion-icon slot="icon-only" name="close"></ion-icon> </ion-button>
      </ion-buttons>
      <ion-title>Zoom</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [forceOverscroll]="false" color="dark" fullscreen="true">
    <ion-slides [options]="slideOpts" zoom="true" loop="false">
      <ion-slide>
        <div class="swiper-zoom-container"><img src="{{imgSource}}" /></div>
      </ion-slide>
    </ion-slides>
  </ion-content>