<ion-header>
    <ion-toolbar>
      <ion-title>Task Force Comiket Current</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="current">
      <ion-icon name="arrow-dropright-circle"></ion-icon>
      <ion-label>Current</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="currents">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Currents</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="previous">
      <ion-icon name="rewind"></ion-icon>
      <ion-label>Previous</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="next">
      <ion-icon name="fastforward"></ion-icon>
      <ion-label>Next</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="postponed">
      <ion-icon name="refresh"></ion-icon>
      <ion-label>Postponed</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
