<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit order</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save(order)">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- BODY-->
<ion-content>
  <ion-card *ngIf="order" class="welcome-card">
    <img-loader useImg src="{{order.image}}"></img-loader>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>{{order.circle}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-list-header>
          <ion-label>Infos</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Hall</ion-label>
          <ion-input type="text" placeholder="Hall" [(ngModel)]="order.hall"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Booth</ion-label>
          <ion-input type="text" placeholder="Booth" [(ngModel)]="order.booth"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Circle</ion-label>
          <ion-input type="text" placeholder="Circle" [(ngModel)]="order.circle"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>What</ion-label>
          <ion-input type="text" placeholder="What" [(ngModel)]="order.what"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Website</ion-label>
          <ion-input type="text" placeholder="Link" [(ngModel)]="order.website"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>For</ion-label>
          <ion-input type="text" placeholder="For" [(ngModel)]="order.for"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Note</ion-label>
          <ion-input type="text" placeholder="Note" [(ngModel)]="order.note"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Price expected</ion-label>
          <ion-input type="number" placeholder="Price Expected" [(ngModel)]="order.priceExpected"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Priority</ion-label>
          <ion-input type="number" placeholder="Priority" [(ngModel)]="order.priority"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>