<ion-grid>
  <div *ngIf="!orders" class="ion-text-center">{{error}}</div>
  <ion-row *ngFor="let order of orders; let i = index">
    <ion-col>
      <ion-card *ngIf="order" class="welcome-card">
        <ion-badge color="primary">{{order.current}}</ion-badge>
        <ion-button class="button-end" color="primary" (click)="goToDetails(order)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button *ngIf="typeWanted === 'next'" class="button-end-end" color="primary" (click)="updateCurrent(order)">
            <ion-icon name="play"></ion-icon>
          </ion-button>
        <img-loader useImg src="{{order.image}}" (click)="viewImage(order.image)"></img-loader>
        <ion-card-content>
          <ion-item>
            <ion-label slot="start">Hall</ion-label>
            <ion-label>{{order.hall}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label slot="start">Booth</ion-label>
            <ion-label>{{order.booth}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label slot="start">Circle</ion-label>
            <ion-label>{{order.circle}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>