ion-badge{
    position: absolute;
    left: 2px;
    top: 2px;
}

ion-item {
    margin-bottom: -10px;
    margin-top: -15px;
}

.button-end {
    position: absolute;
    right: 2px;
    top: 2px;
}

.button-end-end {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 999;
}