<ion-app>
  <ion-menu contentId="menu" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-row class="ion-justify-content-center">
        <ion-avatar style="padding:5px" *ngIf="utilsService.isCordova() && user?.imageUrl">
          <img src="{{user?.imageUrl}}" />
        </ion-avatar>
        <ion-avatar style="padding:5px" *ngIf="!utilsService.isCordova() && user?.photoURL">
          <img src="{{user?.photoURL}}" />
        </ion-avatar>
      </ion-row>
      <ion-item>
        <ion-label>{{user?.displayName}}</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/tabs']" (click)="goTo()">
        <ion-row>
          <ion-col>
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-label>Current</ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item [routerLink]="['/configuration']" (click)="goTo()">
        <ion-row>
          <ion-col>
            <ion-icon name="settings"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-label>Settings</ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-content>
    <ion-item>
      <p>App Version: {{utilsService.isCordova() ? versionNumber : 'Cordova not supported'}}</p>
    </ion-item>
    <ion-button *ngIf="user?.email" (click)="signOut()" expand="block" icon-start>
      Log out
    </ion-button>


  </ion-menu>

  <ion-router-outlet id="menu" main></ion-router-outlet>
</ion-app>