<ion-content class="content">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 50%">
       <ion-icon class="image" ios="logo-google" md="logo-google"></ion-icon>
    </ion-row>
    <ion-row justify-content-center align-items-center >
     <ion-label style="color: white;font-size: 2em;font-weight: 100;font-family: 'Source Sans Pro', sans-serif;">Google Authentication</ion-label>
    </ion-row>
  </ion-grid>
  <ion-button (click)="googleAuth()" class="gbutton ripple" color="danger" icon-start>
    <ion-icon name="logo-googleplus"></ion-icon>
    Login with Google
  </ion-button>
  <ion-label class="desc" >Please , click to sign-in with your Google account</ion-label>
</ion-content>
