<ion-header>
  <ion-toolbar>
    <ion-title>
      Previous
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-day [typeWanted]="'previous'"></app-day>
</ion-content>